.main-Reset
{
    margin-top: 150px;
}
.main-Reset .heading_s1
{
    margin-bottom: 30px !important;
}
.main-Reset .heading_s1 p{
    color: #7E7E7E;
}
.reset-btn{
    font-size: 16px;
    padding: 15px 40px;
    color: #ffffff;
    background-color: #253D4E;
    border-color: #253D4E;
    font-weight: 700;
    border-radius: 10px;
}